* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.background, .intro-background {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.background::before,
.intro-background:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.40);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.intro-background:before {
  animation-name: backgroundAnimation;
  animation-duration: 3s;
}

@keyframes backgroundAnimation {
  0%   {background-color: rgba(0, 0, 0, 1);}
  25%  {background-color: rgba(0, 0, 0, 1);}
  50%  {background-color: rgba(0, 0, 0, 1);}
  100% {background-color: rgba(0, 0, 0, 0.40);}
}

.container {
  width: 1000px;
}

.cabecalho {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  position: relative;
  z-index: 999;
  color: white;
  margin: 30px;
  font-size: 20px;
  font-weight: lighter;
}

.menu {
  background-color: rgb(246, 66, 66);
  width: 350px;
  height: 100vh;
  display: none;
}

.menu.menu-ativo {
  display: block;
}

.close {
  font-size: 30px;
  color: white;
  text-align: right;
  padding: 20px;
  width: 100%;
}

.nav-menu .menu-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 30px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}

.nav-menu .menu-icon.menu-ativo {
  display: none;
}

.menu-icon:hover {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.75s;
}

.menu-list {
  padding: 0 50px;
  
}

.menu-list li {
  font-size: 20px;
  font-weight: lighter;
  padding: 5px;
  margin: 20px 0;
}

.menu-list .home::after,
.menu-list .generic::after {
  content: '';
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
  margin-top: 30px;
}

.intro {
  background-image: url('../images/banner.jpg');
  display: flex;
  justify-content: space-between;
}

.intro-tiluto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 7.5em;
  font-family: "Lobster", cursive;
  color: white;
  opacity: 0.80;
  position: relative;
  animation-name: tituloIntroAnimation;
  animation-duration: 3s;
}

@keyframes tituloIntroAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.container {
  width: 1000px;
  margin: 0 auto;
}

.position-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one {
  background-image: url('../images/banner2.jpg');
}

.section-two {
  background-image: url('../images/banner5.jpg');
}

.section-three {
  background-image: url('../images/banner4.jpg');
}

.section-four {
  background-image: url('../images/banner3.jpg');
}

.content-fundo {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 75px 50px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
}

.content-titulo {
  font-size: 35px;
}

.content-text {
  font-size: 20px;
  margin: 30px 0 40px 0;
}

.content-botao {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px 20px;
}

.rodape {
  height: 100vh;
  width: 100%;
  background-color: #F64747;
}

.rodape h1 {
  text-align: center;
  margin-bottom: 75px;
  color: white;
  font-size: 40px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name, .email {
  width: calc(50% - 20px);
}

.label-style {
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
}

.input-style {
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  outline: 0;
}

::placeholder {
  font-size: 20px;
  color: white;
  opacity: 0.75;
  letter-spacing: 1px;
}

#message {
  width: 100%;
  resize: none;
  outline: 0;
}

.botao {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.botao:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 0.5s;
}

.redes-sociais i {
  font-size: 30px;
  color: white;
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.10);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  margin: 50px 10px;
}

.copyright {
  text-align: center;
  color: white;
}