$cor-secundaria: rgb(246, 66, 66);
$cor-transparente: rgba(255, 255, 255, 0);
$cor-primaria-texto: white;
$cor-secundario-texto: rgba(255, 255, 255, 0.5);
$border-style: 1px solid rgba(255, 255, 255, 0.25);
$font-principal: "Open Sans", Arial, Helvetica, sans-serif;
$container: 1000px;