@import './normalize';
@import './reset';
@import './mixins';
@import './variables';

body {
  font-family: $font-principal;
  color: $cor-primaria-texto;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  h1 {
    margin: 25px;
    color: $cor-primaria-texto;
    font-weight: lighter;
    span {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}

.nav-menu .menu-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 25px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  @include tipografia-padrao;
  cursor: pointer;
  &:hover {
    @include menu-hover;
  }
}



.menu {
  visibility: hidden;
  background-color: $cor-secundaria;
  width: 350px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.5s ease, visibility 0.5s;
  transform: translateX(350px);
  .close {
    margin: 25px;
    text-align: right;
    width: calc(100% - 50px);
    font-size: 2em;
    cursor: pointer;
    &:hover {
      @include menu-hover;
    }
  }
  ul {
    margin: 25px;
    li {
      margin: 40px 25px;
      a {
        @include links;
        @include tipografia-padrao;
        &:hover {
          @include menu-hover;
        }
      }
    }
  }
}

.menu.menu-ativo {
  transform: translateX(0);
  visibility: visible;
}

.intro,
.section-one,
.section-two,
.section-three,
.section-four {
  @include tela-fundo;
  @include posicao-centro;
}

.section-one::before,
.section-two::before,
.section-three::before,
.section-four::before  {
  @include fundo-escuro;
}

.intro {
  background-image: url('../images/banner.jpg');
  h1 {
    font-size: 7.5em;
    color: $cor-primaria-texto;
    font-family: "Lobster", cursive;
    position: relative;
    opacity: 0.90;
    animation-name: tituloIntroAnimation;
    animation-duration: 3s;
  }
}

@keyframes tituloIntroAnimation {
  0%{opacity: 0;}
  25%{opacity: 0;}
  50%{opacity: 0.50;}
  100%{opacity: 0.90;}
}

.intro::before {
  @include fundo-escuro;
  animation-name: backgroundAnimation;
  animation-duration: 3s;
}

@keyframes backgroundAnimation {
  0%   {background-color: rgba(0, 0, 0, 1);}
  25%  {background-color: rgba(0, 0, 0, 1);}
  50%  {background-color: rgba(0, 0, 0, 1);}
  100% {background-color: rgba(0, 0, 0, 0.5);}
}

.container {
  width: $container;
}

.section-one {
  background-image: url('../images/banner2.jpg');
}

.section-two {
  background-image: url('../images/banner5.jpg');
}

.section-three {
  background-image: url('../images/banner4.jpg');
}

.section-four {
  background-image: url('../images/banner3.jpg');
}

.content {
  @include conteudo;
  opacity: 0;
  .content-titulo {
    @include titulo;
  }
  .content-subtitulo {
    @include sub-titulo;
  }
  .content-text {
    @include texto;
  }
  .content-botao {
    @include botao;
    &:hover {
      @include botao-hover;
    }
  }
}

.content.ativar-animacao {
  animation-name: contentAnimation;
  animation-duration: 2s;
  opacity: 1;
}

@keyframes contentAnimation {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.rodape {
  @include tela-tamanho;
  @include posicao-centro;
  background-color: $cor-secundaria;
}

.rodape-titulo {
  @include titulo;
  text-align: center;
  margin-bottom: 75px;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .name, .email {
    width: calc(50% - 20px);
    label {
      @include label;
    }
    input {
      @include campos;
      width: calc(100% - 30px);
      height: 25px;
      margin-bottom: 20px;
      &:focus {
      outline: 2px solid white;
      }
    }
  }
  .message {
    width: 100%;
    label {
      @include label;
    }
    textarea {
      @include campos;
      width: calc(100% - 30px);
      margin-bottom: 20px;
      resize: none;
      &:focus {
        outline: 2px solid white;
        }
    }
  }
  .botao {
    @include botao;
    &:hover {
      @include botao-hover;
    }
  }
}

::placeholder {
@include placeholder-style;
}

.redes-sociais {
  text-align: center;
  i {
    @include redes-sociais;
    &:hover {
      @include redes-hover;
    }
  }
}

.copyright {
  text-align: center;
}